<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.psu.vaultinators.nebulock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <android:uses-permission android:name="android.permission.INTERNET" />
    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".KeyringInformation"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".CreateKeyring"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".VaultContents"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vault_contents" >
        </activity>
        <activity
            android:name=".ViewVaultEntries"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_view_vault_entry" >
        </activity>
        <activity
            android:name=".EditVaultEntry"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_vault_entry" >
        </activity>
        <activity
            android:name=".VaultHomeScreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vault_home" >
        </activity>
        <activity
            android:name=".VaultOptions"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vault_options" >
        </activity>
        <activity
            android:name=".addEntry"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_entry" >
        </activity>
        <activity
            android:name=".vaultLogs"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vault_logs" >
        </activity>
        <activity
            android:name=".manageDelegates"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_manage_delegates" >
        </activity>
        <activity
            android:name=".AddDelegate"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_delegate" >
        </activity>
        <activity
            android:name=".NewVault"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_new_vault" >
        </activity>
        <activity
            android:name=".manageContacts"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_manage_contacts" >
        </activity>
        <activity
            android:name=".ContactInfo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contact_info" >
        </activity>
        <activity
            android:name=".AddContact"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name=".EditContact"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_contact" >
        </activity>
    </application>

</manifest>
